body {
	background-color: goldenrod;
	font-family: monospace;
}

.notecard {
	background-color: white;
	border: solid black 1px;
  padding: 1em;
  margin: 1em;
}

.center {
  text-align: center;
}

#canvas {
  border: solid black 1px;
}

.user-color {
  width: 1em;
  height: 1em;
  display: inline-block;
  border: solid black 1px;
  margin-right: .5em;
}

.chainlink {
  margin: 2px;
  text-align: left;
}

.hover {
  cursor: pointer;
}

.error {
  color: red;
}

.loading, .links {
  height: 85%;
}

.links {
  overflow: scroll;
}
